<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.1414degrees.objectiveCApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Supporting Files/Prefix.pch:objC:importUIKit</key>
		<string>#import &lt;UIKIt/UIKit.h&gt;</string>
		<key>Supporting Files/Info.plist:iPhone</key>
		<string>&lt;key&gt;CFBundleDisplayName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
&lt;true/&gt;</string>
		<key>Supporting Files/Info.plist:IconFiles</key>
		<string>&lt;key&gt;CFBundleIconFiles&lt;/key&gt;
&lt;array&gt;
	&lt;string&gt;icon_iphone.png&lt;/string&gt;
	&lt;string&gt;icon_iphone@2x.png&lt;/string&gt;
	&lt;string&gt;icon_iphone_spotlight.png&lt;/string&gt;
	&lt;string&gt;icon_iphone_spotlight@2x.png&lt;/string&gt;
	&lt;string&gt;icon_ipad.png&lt;/string&gt;
	&lt;string&gt;icon_ipad@2x.png&lt;/string&gt;
	&lt;string&gt;icon_ipad_spotlight.png&lt;/string&gt;
	&lt;string&gt;icon_ipad_spotlight@2x.png&lt;/string&gt;
&lt;/array&gt;</string>
		<key>Supporting Files/Info.plist:UISupportedInterfaceOrientations</key>
		<string>&lt;key&gt;UISupportedInterfaceOrientations&lt;/key&gt;
&lt;array&gt;
     &lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
     &lt;string&gt;UIInterfaceOrientationPortraitUpsideDown&lt;/string&gt;
     &lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
     &lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
&lt;/array&gt;
&lt;key&gt;UISupportedInterfaceOrientations~ipad&lt;/key&gt;
&lt;array&gt;
	&lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationPortraitUpsideDown&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
&lt;/array&gt;</string>
		<key>Supporting Files/Info.plist:LaunchFiles</key>
		<string>&lt;key&gt;UILaunchImageFile~iphone&lt;/key&gt;
&lt;string&gt;launch_iphone.png&lt;/string&gt;
&lt;key&gt;UILaunchImageFile~ipad&lt;/key&gt;
&lt;string&gt;launch_ipad.png&lt;/string&gt;</string>
		<key>Supporting Files/main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Supporting Files/Entitlements.entitlements</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Entitlements.entitlements</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/</key>
		<dict>
			<key>Path</key>
			<string>iPad</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Classes/</key>
		<dict>
			<key>Group</key>
			<string>iPad</string>
			<key>Path</key>
			<string>Classes</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Classes/Controllers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Classes/Controllers/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Classes</string>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Resources/</key>
		<dict>
			<key>Group</key>
			<string>iPad</string>
			<key>Path</key>
			<string>Resources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Resources/Images/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Images</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Resources/Images/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Views/</key>
		<dict>
			<key>Group</key>
			<string>iPad</string>
			<key>Path</key>
			<string>Views</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Views/Controllers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Views/Controllers/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Views</string>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPad/Resources/Images/icon_ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>icon_ipad.png</string>
		</dict>
		<key>iPad/Resources/Images/icon_ipad@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>icon_ipad@2x.png</string>
		</dict>
		<key>iPad/Resources/Images/icon_ipad_spotlight.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>icon_ipad_spotlight.png</string>
		</dict>
		<key>iPad/Resources/Images/icon_ipad_spotlight@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>icon_ipad_spotlight@2x.png</string>
		</dict>
		<key>iPad/Resources/Images/launch_ipad-Landscape.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>launch_ipad-Landscape.png</string>
		</dict>
		<key>iPad/Resources/Images/launch_ipad-Landscape@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>launch_ipad-Landscape@2x.png</string>
		</dict>
		<key>iPad/Resources/Images/launch_ipad-Portrait.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>launch_ipad-Portrait.png</string>
		</dict>
		<key>iPad/Resources/Images/launch_ipad-Portrait@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPad</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>launch_ipad-Portrait@2x.png</string>
		</dict>
		<key>iPhone/</key>
		<dict>
			<key>Path</key>
			<string>iPhone</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Classes/</key>
		<dict>
			<key>Group</key>
			<string>iPhone</string>
			<key>Path</key>
			<string>Classes</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Classes/Controllers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Classes/Controllers/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Classes</string>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Resources/</key>
		<dict>
			<key>Group</key>
			<string>iPhone</string>
			<key>Path</key>
			<string>Resources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Resources/Images/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Images</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Resources/Images/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Views/</key>
		<dict>
			<key>Group</key>
			<string>iPhone</string>
			<key>Path</key>
			<string>Views</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Views/Controllers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Views/Controllers/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Views</string>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>iPhone/Resources/Images/icon_iphone.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>icon_iphone.png</string>
		</dict>
		<key>iPhone/Resources/Images/icon_iphone@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>icon_iphone@2x.png</string>
		</dict>
		<key>iPhone/Resources/Images/icon_iphone_spotlight.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>icon_iphone_spotlight.png</string>
		</dict>
		<key>iPhone/Resources/Images/icon_iphone_spotlight@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>icon_iphone_spotlight@2x.png</string>
		</dict>
		<key>iPhone/Resources/Images/launch_iphone.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>launch_iphone.png</string>
		</dict>
		<key>iPhone/Resources/Images/launch_iphone@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>launch_iphone@2x.png</string>
		</dict>
		<key>iPhone/Resources/Images/launch_iphone-568h@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>iPhone</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>launch_iphone-568h@2x.png</string>
		</dict>
		<key>Shared/</key>
		<dict>
			<key>Path</key>
			<string>Shared</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Classes/</key>
		<dict>
			<key>Group</key>
			<string>Shared</string>
			<key>Path</key>
			<string>Classes</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Classes/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Classes/Controllers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Classes/Controls/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Controls</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Classes/Categories/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Categories</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Classes/Managers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Managers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Classes/Services/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Services</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Resources/</key>
		<dict>
			<key>Group</key>
			<string>Shared</string>
			<key>Path</key>
			<string>Resources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Resources/Images/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Images</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Resources/Images/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Views/</key>
		<dict>
			<key>Group</key>
			<string>Shared</string>
			<key>Path</key>
			<string>Views</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Views/Controllers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/Views/Controls/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Controls</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Shared</string>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Shared/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Shared</string>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>Shared/Resources/InfoPlist.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>InfoPlist.strings</string>
		</dict>
		<key>Shared/Resources/Images/iTunesArtwork</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>iTunesArtwork</string>
		</dict>
		<key>Shared/Resources/Images/iTunesArtwork@2x</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Shared</string>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>iTunesArtwork@2x</string>
		</dict>
		<key>Vendors/</key>
		<dict>
			<key>Path</key>
			<string>Vendors/</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template is the starting point for any iOS application built by 1414 Degrees.</string>
	<key>Identifier</key>
	<string>com.1414degrees.iOSApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Supporting Files/Prefix.pch:objC:importUIKit</string>
		<string>Supporting Files/Info.plist:iPhone</string>
		<string>Supporting Files/Info.plist:IconFiles</string>
		<string>Supporting Files/Info.plist:UISupportedInterfaceOrientations</string>
		<string>Supporting Files/Info.plist:LaunchFiles</string>
		<string>Supporting Files/main.m</string>
		<string>Supporting Files/Entitlements.entitlements</string>
		<string>Vendors/</string>
		<string>Shared/</string>
		<string>Shared/AppDelegate.h</string>
		<string>Shared/AppDelegate.m</string>
		<string>Shared/Views/</string>
		<string>Shared/Views/Controls/</string>
		<string>Shared/Views/Controllers/</string>
		<string>Shared/Resources/</string>
		<string>Shared/Resources/InfoPlist.strings</string>
		<string>Shared/Resources/Images/</string>
		<string>Shared/Resources/Images/iTunesArtwork</string>
		<string>Shared/Resources/Images/iTunesArtwork@2x</string>
		<string>Shared/Resources/Images/Common/</string>
		<string>Shared/Classes/</string>
		<string>Shared/Classes/Services/</string>
		<string>Shared/Classes/Managers/</string>
		<string>Shared/Classes/Categories/</string>
		<string>Shared/Classes/Controls/</string>
		<string>Shared/Classes/Controllers/</string>
		<string>Shared/Classes/Common/</string>
		<string>iPhone/</string>
		<string>iPhone/Views/</string>
		<string>iPhone/Views/Controllers/</string>
		<string>iPhone/Views/Controllers/Common/</string>
		<string>iPhone/Resources/</string>
		<string>iPhone/Resources/Images/</string>
		<string>iPhone/Resources/Images/icon_iphone.png</string>
		<string>iPhone/Resources/Images/icon_iphone@2x.png</string>
		<string>iPhone/Resources/Images/icon_iphone_spotlight.png</string>
		<string>iPhone/Resources/Images/icon_iphone_spotlight@2x.png</string>
		<string>iPhone/Resources/Images/launch_iphone.png</string>
		<string>iPhone/Resources/Images/launch_iphone@2x.png</string>
		<string>iPhone/Resources/Images/launch_iphone-568h@2x.png</string>
		<string>iPhone/Resources/Images/Common/</string>
		<string>iPhone/Classes/</string>
		<string>iPhone/Classes/Controllers/</string>
		<string>iPhone/Classes/Controllers/Common/</string>
		<string>iPad/</string>
		<string>iPad/Views/</string>
		<string>iPad/Views/Controllers/</string>
		<string>iPad/Views/Controllers/Common/</string>
		<string>iPad/Resources/</string>
		<string>iPad/Resources/Images/</string>
		<string>iPad/Resources/Images/icon_ipad.png</string>
		<string>iPad/Resources/Images/icon_ipad@2x.png</string>
		<string>iPad/Resources/Images/icon_ipad_spotlight.png</string>
		<string>iPad/Resources/Images/icon_ipad_spotlight@2x.png</string>
		<string>iPad/Resources/Images/launch_ipad-Portrait.png</string>
		<string>iPad/Resources/Images/launch_ipad-Landscape.png</string>
		<string>iPad/Resources/Images/launch_ipad-Portrait@2x.png</string>
		<string>iPad/Resources/Images/launch_ipad-Landscape@2x.png</string>
		<string>iPad/Resources/Images/Common/</string>
		<string>iPad/Classes/</string>
		<string>iPad/Classes/Controllers/</string>
		<string>iPad/Classes/Controllers/Common/</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>testFlightEnabled</string>
			<key>Name</key>
			<string>Enable TestFlight</string>
			<key>Description</key>
			<string>Indicates whether or not TestFlight should be included.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>Configurations</key>
						<dict>
							<key>Ad Hoc</key>
							<dict>
								<key>DEPLOYMENT_POSTPROCESSING</key>
								<string>NO</string>
								<key>STRIP_INSTALLED_PRODUCT</key>
								<string>NO</string>
							</dict>
						</dict>
					</dict>
					<key>Definitions</key>
					<dict>
						<key>Vendors/TestFlight/</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Vendors</string>
							</array>
							<key>Path</key>
							<string>TestFlight</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Vendors/TestFlight/TestFlight.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Vendors</string>
								<string>TestFlight</string>
							</array>
							<key>Path</key>
							<string>TestFlight.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Vendors/TestFlight/libTestFlight.a</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Vendors</string>
								<string>TestFlight</string>
							</array>
							<key>Path</key>
							<string>libTestFlight.a</string>
						</dict>
						<key>Shared/AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<string>Shared</string>
							<key>Path</key>
							<string>AppDelegateTestFlight.m</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Vendors/TestFlight/</string>
						<string>Vendors/TestFlight/TestFlight.h</string>
						<string>Vendors/TestFlight/libTestFlight.a</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>testFlightEnabled</key>
				<string>true</string>
			</dict>
			<key>Identifier</key>
			<string>testFlightTeamToken</string>
			<key>Name</key>
			<string>TestFlight Team Token</string>
			<key>Description</key>
			<string>The project&apos;s TestFlight Team Token.</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>GCC_VERSION</key>
			<string>com.apple.compilers.llvm.clang.1_0</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>CODE_SIGN_ENTITLEMENTS</key>
			<string>___PACKAGENAME___/Supporting Files/Entitlements.entitlements</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Ad Hoc</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string>-DNS_BLOCK_ASSERTIONS=1</string>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
				<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
				<string>iPhone Distribution</string>
			</dict>
			<key>App Store</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string>-DNS_BLOCK_ASSERTIONS=1</string>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
				<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
				<string>iPhone Distribution</string>
			</dict>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>UIKit</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
