<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.1414degrees.objectiveCApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Supporting Files/Prefix.pch:objC:importAppKit</key>
		<string>@import AppKit;</string>
		<key>Supporting Files/Info.plist:Mac</key>
		<string>&lt;key&gt;LSMinimumSystemVersion&lt;/key&gt;
&lt;string&gt;${MACOSX_DEPLOYMENT_TARGET}&lt;/string&gt;
&lt;key&gt;NSMainNibFile&lt;/key&gt;
&lt;string&gt;MainMenu&lt;/string&gt;
&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;NSApplication&lt;/string&gt;
&lt;key&gt;LSApplicationCategoryType&lt;/key&gt;
&lt;string&gt;___VARIABLE_applicationCategory:XML___&lt;/string&gt;</string>
		<key>Supporting Files/main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Supporting Files/Entitlements.entitlements</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Entitlements.entitlements</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/</key>
		<dict>
			<key>Path</key>
			<string>Classes</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Controllers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Controls/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Controls</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Controls/Common</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Controls</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Categories/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Categories</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Models/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Models</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Managers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Managers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Services/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Services</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>Views/</key>
		<dict>
			<key>Path</key>
			<string>Views</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Views/MainMenu.xib</key>
		<dict>
			<key>Group</key>
			<string>Views</string>
			<key>Path</key>
			<string>MainMenu.xib</string>
		</dict>
		<key>Views/Controllers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Views/Controls/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Controls</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/</key>
		<dict>
			<key>Path</key>
			<string>Resources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/Images.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Images.xcassets</string>
		</dict>
		<key>Resources/InfoPlist.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>InfoPlist.strings</string>
		</dict>
		<key>Resources/Credits.rtf</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Credits.rtf</string>
		</dict>
		<key>Vendors/</key>
		<dict>
			<key>Path</key>
			<string>Vendors/</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template is the starting point for any Mac application built by 1414 Degrees.</string>
	<key>Identifier</key>
	<string>com.1414degrees.MacApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Supporting Files/Prefix.pch:objC:importAppKit</string>
		<string>Supporting Files/Info.plist:Mac</string>
		<string>Supporting Files/main.m</string>
		<string>Supporting Files/Entitlements.entitlements</string>
		<string>Vendors/</string>
		<string>Resources/</string>
		<string>Resources/Images.xcassets</string>
		<string>Resources/InfoPlist.strings</string>
		<string>Resources/Credits.rtf</string>
		<string>Views/</string>
		<string>Views/MainMenu.xib</string>
		<string>Views/Controls/</string>
		<string>Views/Controllers/</string>
		<string>Classes/</string>
		<string>Classes/Services/</string>
		<string>Classes/Managers/</string>
		<string>Classes/Models/</string>
		<string>Classes/Categories/</string>
		<string>Classes/Controls/</string>
		<string>Classes/Controls/Common</string>
		<string>Classes/Controllers/</string>
		<string>Classes/Common/</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.m</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>SpecialType</key>
			<string>LSApplicationCategoryType</string>
			<key>Identifier</key>
			<string>applicationCategory</string>
			<key>Name</key>
			<string>App Store Category</string>
			<key>Placeholder</key>
			<string>None</string>
			<key>Description</key>
			<string>The application&apos;s category in the Mac App Store.</string>
			<key>Type</key>
			<string>popup</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>HockeyAppEnabled</string>
			<key>Name</key>
			<string>Enable HockeyApp</string>
			<key>Description</key>
			<string>Indicates whether or not HockeyApp should be included.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Vendors/HockeyApp/</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Vendors</string>
							</array>
							<key>Path</key>
							<string>HockeyApp</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Vendors/HockeyApp/HockeySDK.framework</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Vendors</string>
								<string>HockeyApp</string>
							</array>
							<key>Path</key>
							<string>HockeySDK.framework</string>
						</dict>
						<key>Classes/AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<string>Classes</string>
							<key>Path</key>
							<string>AppDelegateHockeyApp.m</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Vendors/HockeyApp/</string>
						<string>Vendors/HockeyApp/HockeySDK.framework</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>HockeyAppEnabled</key>
				<string>true</string>
			</dict>
			<key>Identifier</key>
			<string>adHocHockeyAppID</string>
			<key>Name</key>
			<string>Ad Hoc HockeyApp App ID</string>
			<key>Default</key>
			<string>adhoc_app_id</string>
			<key>Description</key>
			<string>The project&apos;s Ad Hoc HockeyApp App ID.</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>HockeyAppEnabled</key>
				<string>true</string>
			</dict>
			<key>Identifier</key>
			<string>appStoreHockeyAppID</string>
			<key>Name</key>
			<string>App Store HockeyApp App ID</string>
			<key>Default</key>
			<string>appstore_app_id</string>
			<key>Description</key>
			<string>The project&apos;s App Store HockeyApp App ID.</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>macosx</string>
		<key>SharedSettings</key>
		<dict>
			<key>MACOSX_DEPLOYMENT_TARGET</key>
			<string>___RUNNINGOSXVERSION___</string>
			<key>CODE_SIGN_IDENTITY[sdk=macosx*]</key>
			<string>Mac Developer</string>
			<key>CODE_SIGN_ENTITLEMENTS</key>
			<string>___PACKAGENAME___/Supporting Files/Entitlements.entitlements</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Ad Hoc</key>
			<dict>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
				<key>CODE_SIGN_IDENTITY[sdk=macosx*]</key>
				<string>Mac Distribution</string>
			</dict>
			<key>App Store</key>
			<dict>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
				<key>CODE_SIGN_IDENTITY[sdk=macosx*]</key>
				<string>Mac Distribution</string>
			</dict>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
					<string>AppIcon_Debug</string>
				</dict>
				<key>Ad Hoc</key>
				<dict>
					<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
					<string>AppIcon_Ad_Hoc</string>
				</dict>
				<key>App Store</key>
				<dict>
					<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
					<string>AppIcon</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
